<!DOCTYPE html>
<html>
<body>
<div id="projects">
    {% for project in projects %}
        <a href="/project?name={{ project.name }}">{{ project.name }}</a>
    {% endfor %}
</div>
<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <button id="addProject" type="button">add project</button>
    <form id="newProject" action="/account" method="POST" style="display: none">
        <div>{{ form.name.label }}: {{ form.name }}</div>
        <div>{{ form.gitrepo.label }}: {{ form.gitrepo }}</div>
        <div id="steps">
            <div>
                <input id="steps-0-action" name="steps-0-action" type="text" placeholder="action">
                <input id="steps-0-workdir" name="steps-0-workdir" type="text" placeholder="workdir">
            </div>
        </div>
        <button id="addStep" type="button">add step</button>
        <input type="submit">
    </form>
</div>
</body>
<script>var user = '{{ user }}';</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="/static/account.js" type="text/javascript"></script>
</html>
