<!DOCTYPE html>
<html>
<body>
{% for log in payload %}
    <div class='log'>
        <div><span class="expand" color="blue">[+]</span>{{ log }}</div>
        <textarea rows="25" cols="150" display="none" readonly>
            {{ payload[log] }}
        </textarea>
    </div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
    $('.log').on('click', '.expand', function(event){
        $(event.target).parent().siblings('textarea').css('display', 'block');
        $(event.target).replaceWith('<span class="close" color="blue">[-]</span>');
    });
    $('.log').on('click', '.close', function(event){
        $(event.target).parent().siblings('textarea').css('display', 'none');
        $(event.target).replaceWith('<span class="expand" color="blue">[+]</span>');
    });
</script>
</body>
</html>