<!DOCTYPE html>
<html>
<body>
<div id="login" style="display: inline-block; padding-right: 25px; border-right: thin solid; height: 150px">
    <div>login</div>
    <form method="POST" action="/login">
        <div>{{ form.username.label }}: {{ form.username }}</div>
        <div>{{ form.password.label }}: {{ form.password }}</div>
        <input type="submit" value="submit">
    </form>
</div>
<div id="register" style="display: inline-block; padding-left: 25px; vertical-align: top">
    <div>register</div>
    <form method="POST" action="/register">
        <div>{{ form.email.label }}: {{ form.email }}</div>
        <div>{{ form.username.label }}: {{ form.username }}</div>
        <div>{{ form.password.label }}: {{ form.password }}</div>
        <div>{{ form.confirm.label }}: {{ form.confirm }}</div>
        <input type="submit" value="submit">
    </form>
</div>
<p>
    {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</p>
</body>
</html>
