<!DOCTYPE html>
<html>
<head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="login" style="display: inline-block; padding-right: 25px; border-right: thin solid; height: 150px">
    <div>login</div>
    <form class="form-horizontal" method="POST" action="/login">
        <div class="form-group">
            <label for="usernameInput" class="col-sm-3 control-label">{{ form.username.label }}</label>
            <div class="col-sm-9">
                {{ form.username(class="form-control", id="usernameInput", placeholder="username") }}
            </div>
        </div>
        <div class="form-group">   
            <label for="passwordInput" class="col-sm-3 control-label">{{ form.password.label }}</label>     
            <div class="col-sm-9">
                {{ form.password(class="form-control", id="passwordInput", placeholder="password") }}
            </div>
        </div>
        {{ form.csrf_token }}
        <input type="hidden" name="group" value="{{ group['id'] }}">
        <input type="hidden" name="ref" value="{{ group['ref'] }}">                
        <input type="submit" value="submit">
    </form>
</div>
<div id="register" style="display: inline-block; padding-left: 25px; vertical-align: top">
    <div>register</div>
    <form class="form-horizontal" method="POST" action="/register">
        <div class="form-group">   
            <label for="rEmailInput" class="col-sm-3 control-label">{{ rForm.email.label }}</label>     
            <div class="col-sm-9">
                {{ rForm.email(class="form-control", id="rEmailInput", placeholder="email") }}
            </div>
        </div>
        <div class="form-group">
            <label for="rUsernameInput" class="col-sm-3 control-label">{{ rForm.username.label }}</label>
            <div class="col-sm-9">
                {{ rForm.username(class="form-control", id="rUsernameInput", placeholder="username") }}
            </div>
        </div>
        <div class="form-group">   
            <label for="rPasswordInput" class="col-sm-3 control-label">{{ rForm.password.label }}</label>     
            <div class="col-sm-9">
                {{ rForm.password(class="form-control", id="rPasswordInput", placeholder="password") }}
            </div>
        </div>
        <div class="form-group">   
            <label for="confirmInput" class="col-sm-3 control-label">{{ rForm.confirm.label }}</label>     
            <div class="col-sm-9">
                {{ rForm.confirm(class="form-control", id="confirmInput", placeholder="confirm") }}
            </div>
        </div>
        {{ rForm.csrf_token }}
        <input type="hidden" name="group" value="{{ group['id'] }}">
        <input type="hidden" name="ref" value="{{ group['ref'] }}">        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">submit</button>
            </div>
        </div>
    </form>
</div>
<p>
    {% if form.errors %}
    <ul class=errors>
    {% for error in form.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</p>
<p>
    {% if rForm.errors %}
    <ul class=errors>
    {% for error in rForm.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</p>
</body>
</html>
