<!DOCTYPE html>
<html>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div id=branches>
  <a href="/project?name={{ project.name }}">main</a>
{% for sourcerepo in project %}
  <a href="/project?name={{ project.name }}&sub={{ sourcerepo.name }}">{{ sourcerepo.name }}</a>
{% endfor %}
</div>
 <form id=project action="/project" method="POST" class="projectForm">
    <h3>{{ project.name }}</h3>
    <input type="hidden" name="name" value="{{ project.name }}">
    <div>{{ form.gitrepo.label }}: {{ form.gitrepo(value=project.gitrepo) }}</div>
    <div id="sourceRepos">
      {% if project.sourcerepos %}
        {% for sub in project.sourcerepos %}
          <input id="subs-{{ loop.index0 }}-name" name="subs-{{ loop.index0 }}-name" type="text" value="{{ sub.name }}">
          <input id="subs-{{ loop.index0 }}-url" name="subs-{{ loop.index0 }}-url" type="text" value="{{ sub.url }}">
        {% endfor %}
      {% endif %}
    </div>
    <div id="steps">
    {% for step in project.steps %}
        <div>
            <input id="steps-{{ loop.index0 }}-step" name="steps-{{ loop.index0 }}-step" type="text" value="{{ step.action }}">
            <input id="steps-{{ loop.index0 }}-workdir" name="steps-{{ loop.index0 }}-workdir" type="text" value="{{ step.workdir }}"></div>
        </div>
    {% endfor %}
    <button id="addStep" type="button">add step</button>
    <button id="addRepo" type="button">add source repo</button>
    {{ form.csrf_token }}
    <input type="submit">
</form>
<button id="deleteProject" type="button">delete project</button>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="/static/project.js" type="text/javascript"></script>
<script src="/static/buildlight.js" type="text/javascript"></script>
<script type="text/javascript">var thisProject = '{{ project.name }}'</script>
</html>

