<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="/static/js/spin.min.js"></script>
<script type="text/javascript">function spinner(){new Spinner().spin(document.getElementById('spinner'));};</script>
</head>
<body>
<div id="spinner" style="position: fixed; top: 50%; left: 50%"></div>
<div class="container">
<div class="row">
<div class="col-xs-offset-2 col-xs-8">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alet-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>error:</strong>{{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div id="login" style="display: inline-block; padding-right: 25px; border-right: thin solid; height: 150px">
    <div>login</div>
    <form class="form-horizontal" method="POST" action="/login">
        <div class="form-group">
            {{ form.username.label(class="col-sm-3 control-label") }}
            <div class="col-sm-9">
                {{ form.username(class="form-control", placeholder="username") }}
            </div>
        </div>
        <div class="form-group">   
            {{ form.password.label(class="col-sm-3 control-label") }}              
            <div class="col-sm-9">
                {{ form.password(class="form-control", placeholder="password") }}
            </div>
        </div>
        {{ form.csrf_token }}
        <input type="hidden" name="group" value="{{ ref['id'] }}">
        <input type="hidden" name="ref" value="{{ ref['key'] }}">                
        <input type="submit" value="submit">
    </form>
</div>
<div id="register" style="display: inline-block; padding-left: 25px; vertical-align: top">
    <div>register</div>
    <form class="form-horizontal" method="POST" action="/register" onsubmit="spinner()">
        <div class="form-group">   
            {{ rForm.email.label(class="col-sm-3 control-label") }}    
            <div class="col-sm-9">
                {{ rForm.email(class="form-control", placeholder="email") }}
            </div>
        </div>
        <div class="form-group">
            {{ rForm.username.label(class="col-sm-3 control-label") }}            
            <div class="col-sm-9">
                {{ rForm.username(class="form-control", placeholder="username") }}
            </div>
        </div>
        <div class="form-group">   
            {{ rForm.password.label(class="col-sm-3 control-label") }}                
            <div class="col-sm-9">
                {{ rForm.password(class="form-control", placeholder="password") }}
            </div>
        </div>
        <div class="form-group">   
            {{ rForm.confirm.label(class="col-sm-3 control-label") }}                
            <div class="col-sm-9">
                {{ rForm.confirm(class="form-control", placeholder="confirm") }}
            </div>
        </div>
        {{ rForm.csrf_token }}
        <input type="hidden" name="group" value="{{ ref['id'] }}">
        <input type="hidden" name="key" value="{{ ref['key'] }}">        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">submit</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</body>
</html>
