<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alet-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>error:</strong>{{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}    
</div>
<form id="newProject" action="/account/add" method="POST" style="display: none">
    {% if parent %}
    <input type="hidden" name="parent" value="{{ parent.name }}">
    <h3>add subproject to {{ parent.name }}</h3>
    {% else %}
    <h3>add project</h3>
    {% endif %}
    <div>{{ form.name.label }}: {{ form.name }}</div>
    <div>{{ form.url.label }}: {{ form.url }}</div>
    <div id="steps">
        <div>
            <input id="steps-0-step" name="steps-0-step" type="text" placeholder="action">
            <input id="steps-0-workdir" name="steps-0-workdir" type="text" placeholder="workdir">
        </div>
    </div>
    <button id="addStep" type="button">add step</button>
    {{ form.csrf_token }}
    <input type="submit">
</form>
<script type="text/javascript">
$( "#addStep" ).click(function(){
    var index = $( "#steps" ).children().length;
    stepID = "steps-" + index + "-step"
    workdirID = "steps-" + index + "-workdir"
    $( "#steps" ).append(
    '<div>\
        <input name="' + stepID + '" type="text" placeholder="action"></input>\
        <input name="' + workdirID + '" type="text" placeholder="workdir"></input>\
    </div>')     
})
</script>
</body>
</html>
