<!DOCTYPE html>
<html>
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alet-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>error:</strong>{{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}   
 <form id=project action="/project" method="POST" class="projectForm">
    <h3>{{ project.name }}</h3>
    <input type="hidden" name="name" value="{{ project.name }}">
    {% if sub %}
    <h3>{{ sub.name }}</h3>    
    <input type="hidden" name="sub" value="{{ sub.name }}">
    {% endif %}
    <div>{{ form.gitrepo.label }}: {{ form.gitrepo(value=project.gitrepo) }}</div>
    <div id="steps">
    {% for step in project.steps %}
        <div>
            <input name="steps-{{ loop.index0 }}-step" type="text" value="{{ step.action }}">
            <input name="steps-{{ loop.index0 }}-workdir" type="text" value="{{ step.workdir }}"></div>
        </div>
    {% endfor %}
    <button id="addStep" type="button">add step</button>
    {{ form.csrf_token }}
    <input type="submit">
</form>
<button id="deleteProject" type="button">delete project</button>
<table id="build-light">
</table>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="/static/js/project.js" type="text/javascript"></script>
<script src="/static/js/buildlight.js" type="text/javascript"></script>
<script type="text/javascript">var thisProject = '{{ project.name }}'</script>
{% if project.subs %}
  <script type="text/javascript">var subProjects = '{{ project.subs|tojson|safe }}'</script>
{% endif %}
</body>
</html>

